<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Password recover</title>
</head>
<body>
<div>
  Activation url for {{email}}
</div>
<div>
  <a href="{{activation_url}}">
    Activate
  </a>
</div>
</body>
</html>
