<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Password recover</title>
</head>
<body>
<div>
  Set new password using link:
</div>
<div>
  {{password_reset_url}}
</div>
</body>
</html>
